body[b-gsqtjqwlwi] {

}
.media.my-3[b-gsqtjqwlwi]{
    display:flex;
    gap:5rem;
    align-items:center;
}
.list-unstyled>li>div[b-gsqtjqwlwi] {
    display: grid;
    grid-template-columns: 200px 1fr;
    place-items: baseline;
}