body[b-gsqtjqwlwi] {

}
.media.my-3[b-gsqtjqwlwi]{
    display:flex;
    gap:5rem;
    align-items:center;
}
.list-unstyled>li>div[b-gsqtjqwlwi] {
    display: grid;
    grid-template-columns: 200px 1fr;
    place-items: baseline;
}
.media-image-wrapper.mr-2 img[b-gsqtjqwlwi] {
    width: 100%;
    object-fit: contain;
}
.media-image-wrapper.mr-2[b-gsqtjqwlwi] {
    width:200px;
}